<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>">
    <% include partials/template/header.ejs %>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
            <% if (pageID == 'speakerList') { %>
                <% include partials/content/speakerslist.ejs %>
              <% } else if (pageID == 'speakerDetail'){ %>
                <% include partials/content/speakerprofile.ejs %>
              <% } %>
        </div><!-- primary -->
        <aside class="col-sm-4">
          <% include partials/content/artworklist.ejs %>
        </aside><!-- secondary -->
      </div>
    </div><!-- container -->
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
